/* Footer Section with Categories */
.categories {
    padding: 20px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .category-item {
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
  }
  
  .category-item:hover {
    scale: 1.5;
    background-color: #f1f1f1;
  }
   